NEXT_PUBLIC_SUPABASE_URL=https://vxpapaazskpzrbmglyke.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4cGFwYWF6c2twenJibWdseWtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NjA1MTYsImV4cCI6MjA5MjIzNjUxNn0.PFsVYv2gnsxtah-dA-gli9yu4fBLS7UIqBt36kmXpaA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4cGFwYWF6c2twenJibWdseWtlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY2MDUxNiwiZXhwIjoyMDkyMjM2NTE2fQ.w2b--pfPiNl8pIaPFG-YM9bXE2_GFuGaA6McLUHTNT4
NEXT_PUBLIC_APP_URL=http://localhost:3000
QTWLqK3L1tRbu47x